# Core
flask>=2.2,<3.0
playwright==1.48.0
httpx[http2]
uvloop==0.19.0
python-dotenv==1.0.0

# Async
anyio==3.7.1  # compatible with httpx==0.24.1

# Data
pydantic==1.10.9
orjson==3.9.5

# Utilities
tqdm==4.65.0
redis==4.5.5
click==8.1.3
numpy
beautifulsoup4==4.12.3

# Dev
pytest==7.4.0
pytest-asyncio==0.21.0

# Security
certifi==2024.2.2
urllib3==2.2.1
pyjwt==2.8.0
cryptography==41.0.7
requests==2.31.0

# ML
# ⚠️ TEMPORARILY COMMENTED TO AVOID CONFLICTS. Uncomment only if really needed.
tensorflow-cpu==2.12.1
scipy==1.10.1
scikit-learn==1.3.2

# DNS
dnspython==2.4.2
